<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>

  <!-- your app's js -->
  <script src="js/app.js"></script>
</head>
<body ng-app="starter">

<ion-pane ng-controller="testCtrl">
  <ion-header-bar class="bar-positive">
    <h1 class="title">UHF test APP</h1>
  </ion-header-bar>
  <ion-content>
    <ion-list>
      <ion-item class="stable-bg">
        <div>巡卡：</div>
          <textarea class="data">{{card.epc}}</textarea>
        <button class="button button-block button-positive" ng-click="search()">巡卡</button>
      </ion-item>
      <ion-item class="stable-bg">
        <div>巡卡：</div>
        <textarea class="data">{{card.epcs}}</textarea>
        <button class="button button-block button-positive" ng-click="toggleSearch()">{{card.search}}</button>
      </ion-item>
      <ion-item class="stable-bg item-text-wrap">
        <div><span>读卡：</span></div>
        <p>{{card.read}}</p>
        <br>
        <button class="button button-block button-positive" ng-click="read()">读卡</button>
      </ion-item>
      <ion-item class="stable-bg item-input">
        <div class="input-label">写入内容</div><br>
        <textarea rows="5" cols="25" maxlength="64" style="width: 60%;" placeholder="请输入英文数字与普通符号" ng-model="card.writeContent"></textarea>
      </ion-item>
      <ion-item>
        <div><span>写卡：</span><span>{{card.write}}</span></div>
        <button class="button button-block button-positive" ng-click="write()">写卡</button>
      </ion-item>

      <span class="assertive">读写距离与功率成正比，与阈值成反比，功率范围为15-26，阈值默认176，范围0-65535</span>
      <ion-item class="stable-bg">
        <div><span>读取功率：</span><span>{{card.power}}</span></div>
        <button class="button button-block button-positive" ng-click="getPower()">读取功率</button>
      </ion-item>
      <ion-item class="stable-bg item-input">
        <span class="input-label">设置功率</span>
        <input type="number" placeholder="功率限制为15-26" ng-model="set.power">
      </ion-item>
      <ion-item class="stable-bg">
        <div><span>设置功率：</span><span>{{card.setPower}}</span></div>
        <button class="button button-block button-positive" ng-click="setPower()">写入功率</button>
      </ion-item>

      <ion-item class="stable-bg">
        <div><span>读取阈值：</span><span>{{card.param}}</span></div>
        <button class="button button-block button-positive" ng-click="getParam()">读取阈值</button>
      </ion-item>
      <ion-item class="stable-bg item-input">
        <span class="input-label">设置阈值</span>
        <input aria-valuemax="65535" type="number" placeholder="请输入阈值" ng-model="set.param">
      </ion-item>
      <ion-item class="stable-bg">
        <div><span>设置阈值：</span><span>{{card.setParam}}</span></div>
        <button class="button button-block button-positive" ng-click="setParam()">写入阈值</button>
      </ion-item>
    </ion-list>
  </ion-content>
</ion-pane>
</body>
</html>
